.input_form{
    width: 400px;
    height: 40px;
    padding: 0 10 0 10;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 4px;
    margin: 0 0 5 0;
}

.input_form:focus{
    border: 2px solid rgb(155, 204, 124);
    border-radius: 4px;
    outline: none;
}

.status_msg_box{
    padding-left: 10px;
}

.err{
    color: tomato;
    font-weight: bold;
    font-size: 15px;
}

.success{
    color:rgb(142, 212, 43);
    font-weight: bold;
    font-size: 15px;
}