extends \layout\layout.pug
        
block content 
    head
        link(rel="stylesheet", href="/css/form.css")
    .nav_margin
        .content
            .vertical.content
                form(class = "vertical content" action="/signup", method="POST")
                    .vertical.content
                        input(class = "input_form" placeholder = "아이디" id = "id_input")
                        .status_msg_box.vertical.flex_box
                            span(class = "err" id = "id_err")
                    .vertical.content
                        input(class = "input_form" placeholder = "비밀번호")
                        .status_msg_box.vertical.flex_box
                            span(class = "err" id = "pw_err")
                    .vertical.content
                        input(class = "input_form" placeholder = "비밀번호 확인")
                        .status_msg_box.vertical.flex_box
                            span(class = "err" id = "pw_err")
                    .vertical.content
                        input(class = "input_form" placeholder = "이름")
                        .status_msg_box.vertical.flex_box
                            span(class = "err" id = "name_err")
                    .vertical.content
                        input(class = "input_form" placeholder = "이메일")
                        .status_msg_box.vertical.flex_box
                            span(class = "err" id = "email_err")

    script(src = "/js/signup.js")



